@model PangoCalculator.ApiControllers.CalculateRequest;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#submitButton').click(function () {
            var expression = encodeURIComponent($('#argument1').val() + $('#operation :selected').text() + $('#argument2').val());
            $.ajax({
                type: 'GET',
                url: '/api/calculator?expression=' + expression,
                success: function (response) {
                    $('#result').html(response.result);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        });
    });
</script>

<div class="form-group">
    <div class="row">
        <label class="col-lg-2">First argument</label>
        <input type="number" id="argument1" class="col-lg-2" />
    </div>
    <div class="row">
        <label class="col-lg-2">Operation</label>
        <select class="col-lg-2" id="operation">
            <option selected="selected" value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
    </div>
    <div class="row">
        <label class="col-lg-2">Second argument</label>
        <input type="number" id="argument2" class="col-lg-2" />
    </div>
    <div class="row">
        <label class="col-lg-2">Result</label>
        <label id="result"></label>
    </div>
    <div class="row">
        <input type="submit" value="Submit" id="submitButton" />
    </div>
</div>
